
.header{
    text-align: center;
    color: #fff;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.2);
    
}
@keyframes nameStyle{
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
}
